In [31]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib
import numpy as np

In [32]:
# Create a basic cleaning function
def clean_data(file_path, ted_variables, services_values, reason_values):
    
    # Load .csv file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Select columns
    teds_reduced_df = df[ted_variables]

    # Remove value 6 'Death' from Reason column 
    teds_reduced_df.drop(teds_reduced_df.loc[df['REASON']==6].index, inplace=True)

    # Add sucessful column equal to 1 based on passed list reasons_values and the rest to 0 
    teds_reduced_df['SUCCESSFUL'] = teds_reduced_df['REASON']
    for reason in reason_values:
        teds_reduced_df['SUCCESSFUL'] = np.where((teds_reduced_df.SUCCESSFUL == reason), 1, teds_reduced_df.SUCCESSFUL)
    teds_reduced_df['SUCCESSFUL'] = np.where(teds_reduced_df['SUCCESSFUL'] == 1, 1, 0)
    
    # Filter for AGES 18 and older.  Values > 2 based on codebook
    teds_clean = teds_reduced_df[teds_reduced_df.AGE > 2]
    
    # Take out all rows with value -9 (Missing/unknown/not collected/invalid)
    teds_clean = teds_clean.replace({-9: np.nan}).dropna().astype(int)

    # Remove race values 1,3,6,9, that are less than 1%. Keep values 2, 4, 5, 7, 8 as is.    
    values = [2,4,5,7,8]
    teds_clean = teds_clean[teds_clean["RACE"].isin(values)]

    # SERVICES column: select outpatient treatment, values 6 and 7,  Rhab values 2, 4, 5, 
    teds_clean = teds_clean[teds_clean["SERVICES"].isin(services_values)]

    # Return 
    return teds_clean

In [33]:
# Set file path for input dataset
file_path = Path('Resources/tedsd_puf_2019.csv')

# Select features to use for analysis.  Must choose services and select values in next step
ted_variables = ['FREQ_ATND_SELF_HELP', 'PSYPROB', 'DSMCRIT', 'ALCDRUG', 'PSOURCE', 'NOPRIOR', 'AGE', 'RACE', 'GENDER', 
                'EDUC', 'MARSTAT', 'EMPLOY', 'LIVARAG', 'SERVICES', 'SUB1', 'SUB2','ROUTE1', 'FRSTUSE1', 'ALCFLG', 
                'COKEFLG', 'MARFLG', 'MTHAMFLG', 'OPSYNFLG', 'HERFLG', 'FREQ1', 'REASON']

# Select treatment services for analysis
services_values = [6,7] 

# Select values from REASON column to combine to a value of 1 for the target column SUCCESSFUL.  Can only be any combination of 1,4,7.
reason_values = [1]

# Call clean data funtion to get cleaned data frame for output to machine learning model code
teds_cleaned_df = clean_data(file_path, ted_variables, services_values, reason_values)
teds_cleaned_df.head()

,FREQ_ATND_SELF_HELP,PSYPROB,DSMCRIT,ALCDRUG,PSOURCE,NOPRIOR,AGE,RACE,GENDER,EDUC,...,FRSTUSE1,ALCFLG,COKEFLG,MARFLG,MTHAMFLG,OPSYNFLG,HERFLG,FREQ1,REASON,SUCCESSFUL
4,1,1,4,1,1,1,11,8,2,3,...,7,1,0,0,0,0,0,1,3,0
12,1,1,4,1,1,1,5,5,2,3,...,2,1,0,0,0,0,0,1,1,1
34,1,1,15,1,1,1,6,7,2,3,...,2,1,0,0,0,0,0,2,3,0
41,4,1,4,3,1,1,5,8,2,3,...,3,1,0,1,0,0,0,1,3,0
53,1,1,16,3,1,1,5,8,2,2,...,3,1,0,1,0,0,0,2,3,0

In [34]:
teds_cleaned_df.shape[0]

493045

In [35]:
# Export cleaned dataframe to .csv file
output_path = Path('Resources/teds_2019_cleaned.csv')
teds_cleaned_df.to_csv(output_path, encoding='utf-8', index=False)

In [36]:
teds_cleaned_df['SUCCESSFUL'].value_counts()

0    377358
1    115687
Name: SUCCESSFUL, dtype: int64

In [37]:
# # Export cleaned dataframe to SQL data base
# from sqlalchemy import create_engine
# from config import db_password

# # Create connection to PostgreSQL database
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/TEDS"
# engine = create_engine(db_string)
    

# # Add teds_clean dataframe to a SQL database
# teds_cleaned_df.to_sql(name='TEDS', con=engine, if_exists='replace')