In [15]:
# Import dependencies
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier

In [16]:
# Load cleaned dataset excel file
file_path = Path('Resources/teds_2019_cleaned.csv')
teds_cleaned_df = pd.read_csv(file_path)

teds_cleaned_df.head()

,AGE,RACE,GENDER,EDUC,MARSTAT,EMPLOY,EMPLOY.1,LIVARAG,SERVICES,SUB1,...,FRSTUSE1,ALCFLG,COKEFLG,MARFLG,MTHAMFLG,OPSYNFLG,HERFLG,FREQ1,REASON,SUCCESSFUL
0,11,8,2,3,3,4,4,3,7,2,...,7,1,0,0,0,0,0,1,3,0
1,5,5,2,3,1,1,1,3,7,2,...,2,1,0,0,0,0,0,1,1,1
2,6,7,2,3,1,1,1,3,7,2,...,2,1,0,0,0,0,0,2,3,0
3,5,8,2,3,1,4,4,2,7,2,...,3,1,0,1,0,0,0,1,3,0
4,5,8,2,2,1,4,4,3,7,2,...,3,1,0,1,0,0,0,2,3,0

In [17]:
# # Load cleanded dataset from SQL database
# # Import dependencies
# from sqlalchemy import create_engine
# from config import db_password

# # Create connection to PostgreSQL database
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/TEDS"
# engine = create_engine(db_string)

# # Pull teds_cleaned data from SQL into a dataframe
# teds_cleaned_df = pd.read_sql_table(
#     'TEDS',
#     con=engine
# )

# teds_cleaned_df.head()

In [18]:
teds_cleaned_df.SUCCESSFUL.value_counts()

0    488157
1    177823
Name: SUCCESSFUL, dtype: int64

# Create intitial neural network model

In [19]:
# Split our preprocessed data into our features and target arrays

y = teds_cleaned_df["SUCCESSFUL"].values
X = teds_cleaned_df.drop(["REASON","SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

C:\Users\syode\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [20]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 168

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 219
Trainable params: 219
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
15609/15609 [==============================] - 18s 1ms/step - loss: 0.5405 - accuracy: 0.7442
Epoch 2/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5352 - accuracy: 0.7458
Epoch 3/10
15609/15609 [==============================] - 16s 1ms/step - loss: 0.5343 - accuracy: 0.7461
Epoch 4/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5339 - accuracy: 0.7464
Epoch 5/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5338 - accuracy: 0.7463
Epoch 6/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5337 - accuracy: 0.7463 0s - loss: 0.5
Epoch 7/10
15609/15609 [==============================] - 16s 1ms/step - loss: 0.5334 - accuracy: 0.7468
Epoch 8/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5334 - accuracy: 0.7464
Epoch 9/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5334 - accuracy: 0.7469
Epoch 10/10
15609/15609 [==============================] - 17s 1ms/step - loss: 0.5333 - accuracy: 0.7468

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

5203/5203 - 4s - loss: 0.5345 - accuracy: 0.7472 - 4s/epoch - 703us/step
Loss: 0.5344666838645935, Accuracy: 0.7471515536308289

In [25]:
import numpy as np
import sklearn
y_pred = nn.predict(X_test)
confusion_matrix = sklearn.metrics.confusion_matrix(y_test, np.rint(y_pred))
# confusion_matrix = tf.math.confusion_matrix(y_test, np.rint(y_pred)

print(confusion_matrix)

[[115928   6111]
 [ 35987   8469]]

In [26]:
# Create a DataFrame from the confusion matrix.
nn_cm_df = pd.DataFrame(
    confusion_matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

nn_cm_df

          Predicted 0  Predicted 1
Actual 0       115928         6111
Actual 1        35987         8469

In [27]:
# # Export model results to SQL database.
# from sqlalchemy import create_engine
# from config import db_password

# # Create connection to PostgreSQL database
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/TEDS"
# engine = create_engine(db_string)
    

# # Export Confusion matrix df to SQL database
# nn_cm_df.to_sql(name='NN_CM', con=engine, if_exists='replace')

# Create initial Random Forest Classifier Model

In [28]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.725

In [29]:
# Print confusion matrix
confusion_matrix_rf = sklearn.metrics.confusion_matrix(y_test, np.rint(y_pred))
print(confusion_matrix_rf)

[[107338  14701]
 [ 31026  13430]]

In [30]:
# Create a DataFrame from the confusion matrix.
rf_cm_df = pd.DataFrame(
    confusion_matrix_rf, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

rf_cm_df

          Predicted 0  Predicted 1
Actual 0       107338        14701
Actual 1        31026        13430

In [31]:
# # Export model results to SQL database
# from sqlalchemy import create_engine
# from config import db_password

# # Create connection to PostgreSQL database
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/TEDS"
# engine = create_engine(db_string)
    

# # Export Confusion matrix df to SQL database
# rf_cm_df.to_sql(name='RF_CM', con=engine, if_exists='replace')